{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
	},
	"rules": {
		"no-console": 1,
		"no-debugger": 1,
		"no-empty": 1,
		"no-extra-parens": 1,
		"no-extra-semi": 1,
		"no-invalid-regexp": 2
	}
}
