@import "variables";
@import "../commons.scss";

.display-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;

    .display-list-element {
        display: flex;
        padding: 0.8em $base-left-right-padding;

        .display-list-element-content {
            overflow: hidden;
            width: 100%;

            .display-list-element-title {
                @extend .no-wrap-overflow;

                display: block;
                margin-bottom: 0.6em;
                font-size: 1.3em;
                font-weight: bold;
            }

            .display-list-element-url {
                @extend .no-wrap-overflow;

                display: block;

                a {
                    &:hover {
                        color: $anchor-color-hover;
                    }
                }
            }

            .display-list-element-tag-container {
                display: flex;
                margin-top: 0.4em;

                .display-list-element-tag {
                    @extend .nonselectable;

                    margin-right: 2px;
                    padding: 0.3em 0.6em;
                    border-radius: 3px;
                    background-color: $tag-background-color;
                    color: $tag-font-color;
                    cursor: pointer;

                    &:hover {
                        background-color: $tag-background-color-hover;
                    }
                }
            }

            input {
                border: 0.1em solid $input-field-border-color;
                background: $input-field-background-color;
                padding: 0.3em 0.4em;
                width: 40em;
                max-width: 95%;
                font-size: 1em;

                &:not(:last-child) {
                    margin-bottom: 0.3em;
                }
            }
        }

        .display-list-element-control {
            display: none;
            justify-content: flex-end;
            align-items: center;
            margin-left: 1em;
            font-size: 1.8em;

            i {
                margin: 0.3em 0.6em;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: $font-color-hover;
                }
            }
        }

        &:hover {
            background-color: $target-background-color;

            .display-list-element-control {
                display: flex;
            }
        }

        &:target {
            background-color: $target-background-color;
        }
    }
}

