@import "../commons.scss";

.display-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;

    .display-list-element {
        padding: 0.8em 5%;

        .display-list-element-title {
            @extend .no-wrap-overflow;

            display: block;
            padding-bottom: 0.6em;
            font-size: 1.3em;
            font-weight: bold;
        }

        .display-list-element-url {
            @extend .no-wrap-overflow;

            display: block;

            a {
                &:hover {
                    color: #009acc;
                }
            }
        }

        .display-list-element-tag-container {
            display: flex;
            margin-top: 0.4em;

            .display-list-element-tag {
                margin-right: 2px;
                padding: 0.3em 0.6em;
                border-radius: 3px;
                background-color: #009acc;
                color: #ffffff;
            }
        }

        &:target {
            background-color: #d7effc;
        }
    }
}

