.no-wrap-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nonselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
