// palette A
$p1: rgb(50, 68, 72);
$p2: rgb(84, 109, 108);
$p3: rgb(125, 154, 146);
$p4: rgb(199, 211, 192);
$p5: rgb(224, 218, 185);

// palette B
$p1: #0C2C59;
$p2: #157389;
$p3: #76A7A2;
$p4: #96D0B1;
$p5: #E7E2CE;

// palette C
$p1: #063F53;
$p2: #306A82;
$p3: #5898B0;
$p4: #98CED9;
$p5: #E6F6F7;
