@import "palette";

$base-font-size: 12px;

// colors
$background-color: $p5;
$font-color: $p1;
$font-color-hover: $p2;
$anchor-color: $p1;
$anchor-color-hover: $p2;
$tag-background-color: $p2;
$tag-background-color-hover: $p3;
$tag-font-color: $p5;
$target-background-color: $p4;
$input-field-background-color: transparent;
$input-field-border-color: $p3;
