.bookmark-element {
  padding-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    padding-bottom: 5px;
  }

  .bookmark-element-title {
    font-size: 1.0em;
    font-weight: 800;
  }

  .bookmark-element-tag {
    float: left;
    padding-right: 15px;
  }
}