@import "sass-constants/colors";
@import "sass-constants/variables";

@import "bookmark-element";

a {
  color: $url-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}